{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css'}">
    <style>
    body{
         background-repeat:no-repeat ;
         background-size: cover;
        }
        button
        {
            color: red;
            background-color: aqua;
        }
        span
        {
            color: blue;
            background-color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1> Puppy </h1>
        <body style="background-image: url('{% static 'images/puppy9.jpeg' %}')">
            

      <button type="button" class="btn btn-primary">Button</button>

        <script src="{% static 'js/mdb.min.js' %}"></script>
    </center>
</body>
</html>